

<ion-content>
  <form [formGroup]="loginForm" novalidate>
    <div>
      <div class="logo" padding>
        <br />
        <br />
        <br />
      </div>
      <ion-list>
        <p ion-text color="danger" *ngIf="authMessage$ | async as authMessage" padding-left>{{authMessage}}</p>
        <ion-item>
          <ion-label>
            <ion-icon name="mail"></ion-icon>
          </ion-label>
          <ion-input type="text" formControlName="userName" spellcheck="false" autocapitalize="off" placeholder="Email address" ></ion-input>
        </ion-item>
        <p ion-text *ngIf="loginForm.get('userName').hasError('required') && loginForm.get('userName').touched" color="danger" padding-left>
          User Name is required
        </p>

        <ion-item>
          <ion-label>
            <ion-icon name="lock"></ion-icon>
          </ion-label>
          <ion-input type="text" formControlName="password" type="password" placeholder="TekBank password" ></ion-input>
        </ion-item>
        <p ion-text *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched" color="danger" padding-left>
          Password is required
        </p>

      </ion-list>


      <div padding>
        <button ion-button padding (click)="login()" type="submit" block>Log in</button>
        <div>
          <p>
            Forgot your password ? <a (click)="goToPasswordReset()" block>Reset your password</a>
          </p>
        </div>
      </div>
    </div>
  </form>

</ion-content>