page-transfer-funds {

  .scroll-content {
      margin-bottom: 0rem !important;
  }

  .transferfunds{
    background-color: #ffffff;

    .account-name {
      h4 {
        display:inline-block;
        text-align:middle;
        margin:0;
      }
    }

    .currency-details {
      background-color:red;

      .currency-symbol {
        background-color:green;
        display:inline-block;
        font-size: 4rem;
        font-weight:100;
      }
      .currency-value {
        display:inline-block;
        width:60%;
        font-size: 4rem;
        font-weight:100;
      }
      .exchange-value {
          display:inline-block;
      }
      .exchange-type
      {
          font-size: 1.8rem;
      }
    }
  }


  .exchange-rate-info {
    background-color: #355A67;
    h4 {
      display:inline-block;
      text-align:middle;
      margin:0;
    }
    .exchange-rate {
      display:inline-block;
    }
  }

}

