<ion-header>
  <ion-navbar>
    <ion-title>Transfer Money</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="transferfunds">
  <div class="account-selection">
    <div *ngIf="currentAccount$ | async as fromAccount" padding>
      <div class="account-name">
        <h4>FROM {{fromAccount.accountName}}</h4>
      </div>
      <div class="currency-name">
        <span class="amount" style="display:inline-block;font-size: 4rem; font-weight:100;">{{fromAccount.balanceAmount | tkbcurrencysymbol}}</span>
        <ion-input type="number" style="display:inline-block;width:60%;font-size: 4rem; font-weight:100;" placeholder="0.00" spellcheck="false"></ion-input>
        <div class="exchange-value">
          <div class="exchange-type"><span class="currency">{{fromAccount.balanceAmount.currency}}</span></div>
          <div class="exchange-flag">
            <span class="flag-icon flag-icon-{{fromAccount.balanceAmount.currency | tkbcurrencycodetoiso}}"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="account-selection">
    <div *ngIf="transferToAccount$ | async as toAccount" padding>
      <div class="account-name">
        <h4>TO {{toAccount.accountName}}</h4>
      </div>
      <div class="currency-name">
        <span class="amount" style="display:inline-block;font-size: 4rem; font-weight:100;">{{toAccount.balanceAmount | tkbcurrencysymbol}}</span>
        <ion-input type="number" style="display:inline-block;width:60%;font-size: 4rem; font-weight:100;" placeholder="0.00" spellcheck="false"></ion-input>
        <div class="exchange-value">
          <div class="exchange-type"><span class="currency">{{toAccount.balanceAmount.currency}}</span></div>
          <div class="exchange-flag">
            <span class="flag-icon flag-icon-{{toAccount.balanceAmount.currency | tkbcurrencycodetoiso}}"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="exchange-info" padding>
    <h4>CURRENT RATE</h4>
    <div float-right class="exchange-rate">1
      <span  *ngIf="currentAccount$ | async as fromAccount" padding>
        {{fromAccount.balanceAmount.currency}}
      </span>
      ->
      <span  *ngIf="transferToAccount$ | async as toAccount" padding>
        {{toAccount.balanceAmount.currency}}
      </span>
    </div>
  </div>

  <div class="select-account" padding>

  </div>

</ion-content>
