<ion-header>
  <ion-navbar>
    <ion-title>Transfer Money</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="transferfunds"  no-bounce>

  <div class="account-selection">
    <div *ngIf="currentAccount$ | async as fromAccount" padding>
      <div class="account-name">
        <h4>FROM {{fromAccount.accountName}}</h4>
      </div>
      <div class="currency-details">
        <span class="currency-symbol">{{fromAccount.currencyCode | tkbcurrencysymbol}}</span>
        <ion-input class="currency-value" type="number"  placeholder="0.00" spellcheck="false"></ion-input>
        <div class="exchange-value">
          <div class="exchange-type"><span class="currency">{{fromAccount.currencyCode}}</span></div>
          <div class="exchange-flag">
            <span class="flag-icon flag-icon-{{fromAccount.currencyCode | tkbcurrencycodetoiso}}"></span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="account-selection">
    <div *ngIf="transferToAccount$ | async as toAccount" padding>
      <div class="account-name">
        <h4>TO {{toAccount.accountName}}</h4>
      </div>
      <div class="currency-details">
        <span class="currency-symbol">{{toAccount.currencyCode | tkbcurrencysymbol}}</span>
        <ion-input class="currency-value" type="number"  placeholder="0.00" spellcheck="false"></ion-input>
        <div class="exchange-value">
          <div class="exchange-type"><span class="currency">{{toAccount.currencyCode}}</span></div>
          <div class="exchange-flag">
            <span class="flag-icon flag-icon-{{toAccount.currencyCode | tkbcurrencycodetoiso}}"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="exchange-rate-info" padding>
    <h4>CURRENT RATE</h4>
    <div float-right class="exchange-rate">
      <span  *ngIf="currencyConversion$ | async as currencyConversion">
          1 {{currencyConversion.from}} -> {{currencyConversion.amount}} {{currencyConversion.to}}
      </span>
    </div>
  </div>

  <div class="filler" padding>

  </div>

</ion-content>
