<ion-header>
  <ion-navbar>
    <ion-title>Transfer Money</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="transferfunds">
  <div class="account-selection">
    <div *ngIf="currentAccount$ | async as fromAccount" padding>
      <div class="account-name">
        <h4>FROM {{fromAccount.accountName}}</h4>
      </div>
      <div class="currency-name">
        <div class="balance-value">
          <span class="amount" style="font-size: 5rem; font-weight:100;">{{fromAccount.balanceAmount | tkbcurrencysymbol}}
          <ion-input type="number" style="font-size: 5rem; font-weight:100;" placeholder="0.00" spellcheck="false"></ion-input>
          </span>
        </div>
        <div class="exchange-value">
          <div class="exchange-type"><span class="currency">{{fromAccount.balanceAmount.currency}}</span></div>
          <div class="exchange-flag">
            <span class="flag-icon flag-icon-{{fromAccount.balanceAmount.currency | tkbcurrencycodetoiso}}"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="account-selection">
    <div *ngIf="currentAccount$ | async as fromAccount" padding>
      <div class="account-name">
        <h4>TO {{fromAccount.accountName}}</h4>
      </div>
      <div class="currency-name">
        <div class="balance-value">
          <span class="amount" style="font-size: 5rem; font-weight:100;">{{fromAccount.balanceAmount | tkbcurrencysymbol}}
          <ion-input type="number" style="font-size: 5rem; font-weight:100;" placeholder="0.00" spellcheck="false"></ion-input>
          </span>
        </div>
        <div class="exchange-value">
          <div class="exchange-type"><span class="currency">{{fromAccount.balanceAmount.currency}}</span></div>
          <div class="exchange-flag">
            <span class="flag-icon flag-icon-{{fromAccount.balanceAmount.currency | tkbcurrencycodetoiso}}"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="select-account" padding>

  </div>

</ion-content>
