<ion-header>

  <ion-navbar>
    <ion-title>TekBank</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
      <ion-slides *ngIf="accountsSummary$ | async as accountsSummary" pager="true" padding>
        <ion-slide *ngFor="let account of accountsSummary.accounts">
          <h2>{{account.balanceAmount | tkbcurrency}}</h2>
          <h4 (click)="goToAccountDetail(account.accountId)"> {{account.accountName}}</h4>
        </ion-slide>
      </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button block clear>
            Add Funds
          </button>
        </ion-col>
        <ion-col>
          <button ion-button block clear>
            Transfer Money
          </button>
        </ion-col>
        <ion-col>
          <button ion-button block clear>
            See Activity
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
