<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>TekBank</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-bounce>
  <div class="gradient-lines">
    <ion-slides *ngIf="accountsSummary$ | async as accountsSummary" pager="true" (ionSlideDidChange)="slideChanged()">
      <ion-slide *ngFor="let account of accountsSummary.accounts">
        <div class="hold-area">
          <div class="currency-name">
            <div class="balance-value">
              <h2><span class="amount">{{account.balanceAmount | tkbcurrency}}</span></h2>
            </div>
            <div class="exchange-value">
              <div class="exchange-type"><span class="currency">{{account.balanceAmount.currency}}</span></div>
              <div class="exchange-flag">
                <span class="flag-icon flag-icon-{{account.balanceAmount.currency | tkbcurrencycodetoiso}}"></span>
              </div>
            </div>
          </div>
          <div class="account-name">
            <h4 (click)="goToAccountDetail(account.accountId)"> {{account.accountName}}</h4>
          </div>

        </div>
      </ion-slide>
      <ion-slide>
        <form [formGroup]="newAccountForm" novalidate>
          <div class="hold-area">
            <ion-item>
              <ion-input type="text" formControlName="accountName" spellcheck="false" autocapitalize="off" placeholder="Account Name"></ion-input>
              <p ion-text *ngIf="newAccountForm.get('accountName').hasError('required') && newAccountForm.get('accountName').touched" color="danger"
                padding-left>
                Account Name is required
              </p>
            </ion-item>
            <ion-item class="exchange-value" *ngIf="newAccountCurrency$ | async as newAccountCurrency">
              <span padding>
                {{newAccountCurrency.name}}
              </span>
              <div class="exchange-value">
                <div class="exchange-flag" float-left click="selectCurrency()">
                  <span class="flag-icon flag-icon-{{newAccountCurrency.code | tkbcurrencycodetoiso}}"></span>
                </div>
              </div>
              <button float-right ion-button (click)="selectCurrency()">Change</button>
            </ion-item>
          </div>
          <div padding>
            <button ion-button padding (click)="createAccount()" type="submit" block>Create Account</button>
          </div>
        </form>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <button ion-button (click)="gotoAddMoney()">
      <ion-icon name="add"></ion-icon>
        <span class="tab-text">Add Money</span>
    </button>
    <button ion-button (click)="gotoTransferAccounts()">
      <ion-icon name="move"></ion-icon>
        <span class="tab-text">Transfer Funds</span>
    </button>
    <button ion-button (click)="goToAccountDetail(null)">
      <ion-icon name="list"></ion-icon>
        <span class="tab-text">See Activity</span>
    </button>
  </ion-toolbar>
</ion-footer>
