<ion-header>

  <ion-navbar>
    <ion-title>View Accounts</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding *ngIf="accountsSummary$ | async as accountsSummary">

  <div *ngFor="let account of accountsSummary.accounts">
    <ion-card (click)="goToAccountDetail(account.accountId)">
      <ion-item>
        <ion-avatar item-left>
          <ion-icon name="card"></ion-icon>
        </ion-avatar>
        <ion-icon name="more" item-right></ion-icon>
        <h2> {{account.accountName}}</h2>
        <p> {{account.accountNumber}}</p>
      </ion-item>

      <ion-card-content>
        <ion-row>
          <ion-col col-1></ion-col>
          <ion-col>Available funds</ion-col>
          <ion-col>{{account.availableAmount | tkbcurrency}} </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1></ion-col>
          <ion-col>Account balance </ion-col>
          <ion-col>{{account.balanceAmount | tkbcurrency}}</ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-card>
    <ion-row>
      <ion-col class="totals">
        <h3>Total credits</h3>
        <h2>{{accountsSummary.totalCredits| tkbcurrency}}</h2>
      </ion-col>
      <ion-col background-color="red">
        <h3>Total debits</h3>
        <h2>{{accountsSummary.totalDebits| tkbcurrency}}</h2>
      </ion-col>
    </ion-row>
    <ion-row class="totals">
      <ion-col>
        <h3>Net Position</h3>
        <h2>{{accountsSummary.netPosition| tkbcurrency}}</h2>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>