page-accounts {

  .balance-value, .exchange-value {
      display:inline-block;
  }
  .exchange-type
    {
        font-size: 1.8rem;
    }

}


  .swiper-pagination-bullet {
    background:transparent;
    border: 1px solid #fff !important;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
      background: #fff;
  }

  .button {
      background-color:rgba(0,0,0,0.6);
  }

  .ios .ion-page.show-page ~ .nav-decor {
      background: transparent !important;
  }

  .fixed-content, .scroll-content {
      margin-bottom: 8rem !important;
  }



