<ion-header>
  <ion-navbar>
    <ion-title>Account details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


          <div class="hold-area" *ngIf="account$ | async as account">
            <div class="account-name"><h4> {{account.accountName}}</h4></div>
            <div class="currency-name">
              <div class="balance-value">
                <h2><span class="amount">{{account.balanceAmount | tkbcurrency}}</span></h2>
              </div>
              <div class="exchange-value">
                <div class="exchange-type"><span class="currency">AUD</span></div>
                <div class="exchange-flag"><ion-icon name="heart"></ion-icon></div>
              </div>
            </div>
          </div>

    <ion-row>
      <ion-col col-8></ion-col>
      <ion-col col-4>
        <p class="filter">
          <ion-icon name="funnel"></ion-icon>
          Filter
        </p>
      </ion-col>
    </ion-row>

  <div class="activity-list">
    <div *ngFor="let transaction of transactions$ | async">
      <ion-item-group>
        <ion-item-divider color="light">{{transaction.transactionDate | date:'shortDate'}}</ion-item-divider>
        <ion-item>
          <ion-row>
            <ion-col col-8>
              <p>{{transaction.description}}</p>
            </ion-col>
            <ion-col col-4>
              <p class="transaction" *ngIf="transaction.debitAmount">{{transaction.debitAmount | tkbcurrency}}</p>
              <p class="transaction" *ngIf="transaction.creditAmount">{{transaction.creditAmount | tkbcurrency}}</p>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-item-group>
    </div>
  </div>
</ion-content>